.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  background-color: rgb(177, 195, 235) !important;
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  background-color: rgb(156, 218, 156) !important;
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  background-color: rgb(236, 143, 143) !important;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
